@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body{
   padding: 0 auto;
   background-image: url('https://i.pinimg.com/originals/10/0e/40/100e40496828d3aff5f25586879cd7cd.jpg');
   background-position: -70px  -30px;


}


.body-container{
    margin: 0 auto;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: rgb(44, 42, 42) 1px solid;
    border-radius: 10px;
    background-image: url('fundo.jpg');

   
    
}



h1{
   margin-top: 20px;
   margin-left: 45px;
   margin-bottom: 50px;
   color: #fff;
  

}

.container{
    position: absolute;
    width: 10px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}




form input{
    padding: 7px;
    width: 500px;
    border: #fff 2px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-left: 45px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 13px;
   

    
}

#number{
    width: 250px;
}

.form-control{
    width: 500px;
    margin-top: 20px;
    margin-left: 45px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18pxpx;
    font-family: 'Kdam Thmor Pro', sans-serif;
}


textarea{
    width: 500px;
    height: 100px;
    resize: none;
    color: black;
    border: #fff 2px solid;
    border-radius: 10px;
    margin-left: 45px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 14px;
}

button{
    width: 150px;
    height: 30px;
    background-color: #d21617;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    padding-top: 5px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 40px;


}

button:hover{
    background-color: #0e0e0e;
    color: #fff ;
    border: #d21617 1px solid ;
}


    

#banner{
    background-image: url('');
    width: 50%;
    height: 650px;
    display: flex;
    
    
 
}
